@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(199, 233, 247);
}

.profile{
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    width: 100%;
    background: floralwhite;
    border-radius: 24px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /*투명도포함한게 rgba*/
    position: relative;
}

.profile::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 20%;
    border-radius: 24px 24px 0 0;
    width: 100%;
    background-color: aquamarine;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-bottom: 10px;
}

.profile-img{
    height: 100%;
    border-radius: 50%;
    border: 3px solid floralwhite;
}

.explain{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.explain .name{
    color: rgb(5, 5, 5);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.explain .job{
    font-size: auto;
    letter-spacing: 2px;
    font-weight: 100;
}

.icon{
    display: flex;
    width: 150px;
    justify-content: center;
}

.icon .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 auto;
    text-decoration: none;
}

.moreinfor{
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
}

.moreinfor .information{
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
    width: 180px;
    font-size: auto;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.moreinfor .information:hover{
    background-color: aqua;
}